
@media screen and (min-width: 64.0625em) {
  main {
    padding-top: 50px;
  }
}

article {
  /* clearfix for floated images */
  overflow: hidden;
}

.section.help {
  padding: 0 0 1.6em;
}

.bg-image.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.panel-text>:last-child {
  margin-bottom: 0;
}
