/* Replace table layout with flexbox in order to vertically center menu items */
nav.main:not(.is-sticky) ul {
  display: flex;
  align-items: center;
}
nav.main:not(.is-sticky) li {
  flex: 1 1 auto;
}

/* this IU Framework CSS override is needed for proper nav button styles */
nav.main li {
  vertical-align: middle;
}
