/* Replace table layout with flexbox in order to vertically center menu items */
nav.main:not(.is-sticky) ul {
  display: flex;
  align-items: center;
}
nav.main:not(.is-sticky) li {
  flex: 1 1 auto;
}
