a.tabledrag-handle {
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  transition: all .2s;
}
a.tabledrag-handle .handle,
a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  background: url('../../images/drag_handle.svg') no-repeat 50% 50%;
  padding: 18px;
}
.drag > .field-multiple-drag .tabledrag-handle,
a.tabledrag-handle:hover,
a.tabledrag-handle:focus {
  background-color: #f9f8f6;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
  outline: none;
  transition: all .2s;
}

.js .tabledrag-toggle-weight-wrapper {
  display: none;
}

abbr[title].tabledrag-changed {
  border: 0;
  text-decoration: none;
}

table.field-multiple-table tbody {
  border: 1px solid rgba(221, 221, 221, .5);
  background-color: rgba(254, 254, 254, .7);
}

table.field-multiple-table thead {
  background: rgba(237, 237, 237, .7);
}

td.field-multiple-drag .tabledrag-changed {
  position: absolute;
  border: 0;
  padding: 0 0 0 7px;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: baseline;
}

tr.drag {
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

tr.drag-previous {
  background: #f5bb17 !important;
}
